/* ======= RESET GENERAL ======= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #222;
    background-color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #446240;
    font-size: clamp(1.5rem, 2vw, 2rem);
    padding-top: 1%;
    padding-bottom: 2%;
}

/* ======= NAVBAR ======= */
.navbar {
    background-color: #446240;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar img {
    width: 50px;
    padding: 0px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
}

.nav-links a:hover {
    background-color: #ff8800;
    border-radius: 5px;
}

.btn-socios {
    background-color: #ff8800;
    padding: 10px 10px;
    border-radius: 5px;
}

/* Botón hamburguesa */
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger .bar {
  display: block;
  width: 22px;
  height: 2px;
  background: #fff;
  margin: 4px 0;
}

/* Vista pantallas pequeñas */
@media (max-width: 1000px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 85px;
    right: 1%;
    background-color: #446240;
    padding: 20px;
    border-radius: 10px;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    border-bottom: solid 1px #7b9c77;
    padding-bottom: 10px;
  }

  .nav-links li a {
    padding: 6px 6px;
  }

  .nav-links li:last-child a {
    border-bottom: none;
  }
}

/* ======= LOGIN SECTION ======= */
.login-section {
    display: flex;
    justify-content: center;
    padding: 5vh 0;
}

.login-form {
    background-color: #eee;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.238);
    border-radius: 10px;
    padding: 2.5rem;
    width: 60%;
    max-width: 600px;
}

.login-form label {
    display: block;
    margin-top: 1.5rem;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: clamp(1rem, 1.4vw, 2rem);
    color: #565452;
}

.login-form input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #555;
    padding: 1.5%;
}

.login-form button {
    margin-top: 25px;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #446240;
    transition: all 0.2s;
    font-weight: bold;
    color: white;
}

.login-form button:hover {
    background-color: #354734;
}

.register-link {
    padding-top: 15px;
    text-align: center;
    font-size: .9rem;
}

.register-link a {
    color: #ff8800;
    text-decoration: none;
    padding-left: 6px;
}

.register-link a:hover {
    text-decoration: underline;
}




/* ======= FOOTER ======= */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #446240;
    color: white;
    text-align: left;
    padding: 15px;
    gap: 6%;
    line-height: 1.7rem;
}

.footer-section {
    padding: 2%;
}

.footer-section h1{
    color: white;
    font-size: clamp(1.5rem, 2.4vw, 2rem);
    padding-bottom: 1.1rem;
}

.footer-section p {
    color: whitesmoke;
}

.footer-section a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 3%;
    background-color: #ff8800;
    border-radius: 5px;
}

/* ======= END ======= */
.end{
    background-color: #999999;
    color: #ffebd5;
    text-align: center;
    align-items: center;
    padding: 1rem;
}