/* ======= RESET GENERAL ======= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #222;
    background-color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #446240;
    font-size: clamp(1.5rem, 4vw, 2.6rem);
    padding-top: 3%;
    padding-bottom: 2%;
}

/* ======= NAVBAR ======= */
.navbar {
    background-color: #446240;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar img {
    width: 50px;
    padding: 0px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
}

.nav-links a:hover {
    background-color: #ff8800;
    border-radius: 5px;
}

.btn-socios {
    background-color: #ff8800;
    padding: 10px 10px;
    border-radius: 5px;
}

/* Botón hamburguesa */
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger .bar {
  display: block;
  width: 22px;
  height: 2px;
  background: #fff;
  margin: 4px 0;
}

/* Vista pantallas pequeñas */
@media (max-width: 1000px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 85px;
    right: 1%;
    background-color: #446240;
    padding: 20px;
    border-radius: 10px;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    border-bottom: solid 1px #7b9c77;
    padding-bottom: 10px;
  }

  .nav-links li a {
    padding: 6px 6px;
  }

  .nav-links li:last-child a {
    border-bottom: none;
  }
}

/* ======= ACTIVIDADES ======= */
.actividades {
    padding: 40px 20px;
    background-color: #f8f8f8;
}

.actividades-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 0%;
}

.actividad {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.actividad img {
    width: 230px;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.actividad:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-weight: bold;
}

.actividad:hover .overlay {
    opacity: 1;
}

/* ======= FOOTER ======= */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #446240;
    color: white;
    text-align: left;
    padding: 15px;
    gap: 6%;
    line-height: 1.7rem;
}

.footer-section {
    padding: 2%;
}

.footer-section h1{
    color: white;
    font-size: clamp(1.5rem, 2.4vw, 2rem);
    padding-bottom: 1.1rem;
}

.footer-section p {
    color: whitesmoke;
}

.footer-section a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 3%;
    background-color: #ff8800;
    border-radius: 5px;
}

/* ======= END ======= */
.end{
    background-color: #999999;
    color: #ffebd5;
    text-align: center;
    align-items: center;
    padding: 1rem;
}